@import '~react-chosen/node_modules/drmonty-chosen/css/chosen.css';



/*
.developer-list .chosen-choices .search-choice:first-child a {
	display: none;
}

.developer-list .chosen-choices .search-choice:first-child {
	padding: 3px 5px 3px 5px
}
*/


.developer-list .chosen-choices .search-choice:nth-last-child(2) a {
	display: none;
}

.developer-list .chosen-choices .search-choice:nth-last-child(2) {
	padding: 3px 5px 3px 5px
}